---
import "@fontsource/poppins";
import "../styles.css";
import { Image } from "astro:assets";
import myImage from "../assets/profile.jpeg";

type Props = {
  frontmatter: {
    title: string;
    pdfLink: string;
    noIndex?: boolean;
    description?: string;
  };
};

const { PDF_VIEW, FORCE_THEME = "" } = import.meta.env;

const { title, noIndex, description } = Astro.props
  .frontmatter as Props["frontmatter"];
---

<!doctype html>
<html lang="en" class={FORCE_THEME}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || title} />
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
  </head>
  <body class={!PDF_VIEW ? "bg-indigo-50 dark:bg-slate-900 sm:my-14" : ""}>
    <div class="container mx-auto flex justify-center">
      <article class="minimalist relative">
        <div
          class="absolute top-4 rounded-sm bg-indigo-400 px-2 py-2 sm:left-6 sm:top-12"
        >
          <div
            class="flex h-fit select-none flex-col items-center text-sm font-bold"
          >
            <Image class="rounded-sm" src={myImage} alt="" height="40" />
          </div>
        </div>
        <slot />
      </article>
    </div>
    <style></style>
  </body>
</html>
